@font-face {
  font-family: Space-Grotesk;
  src: url("Space-Grotesk/SpaceGrotesk-Regular.otf");
  font-weight: 400;
}

@font-face {
  font-family: Space-Grotesk;
  src: url("Space-Grotesk/SpaceGrotesk-Medium.otf");
  font-weight: 500;
}
:root{
  --black: #1F191A;
  --red:#BD1C43;
  --white:#FEFFFF;
  --burgundy:#7C2D44;
  --light_orange: #FAF4EF;

}

.mb-24{
  margin-bottom: 1.5rem;
}

body{
  font-family: Space-Grotesk;
  font-weight: 400;
  color: var(--black);
  font-size: 16px;
}
h1,h2,h3,h4 {
  margin: 0;
  font-weight: 500;
}
p {
  font-size: 1.125rem;
  margin: 0;
}

a {
  text-decoration: none;
color: var(--black);
}

div,header {
  box-sizing: border-box;
}
header {
  display: flex;
  justify-content: space-between;
  padding: 1.25rem 3.75rem;
  margin-left: auto;
  margin-right: auto;
  max-width: 82.5rem;
}

nav {
  
  font-size: 1rem;
  
}

nav ul {
  list-style: none;
  margin: 0;
  padding:0;

}

nav li {
  display: inline-block;
  margin-left: 2.5rem;
}

.folder {

  background-image: url("Home-Folder.png");
  max-width: 82.5rem; /* No usar height que se te salen las letras del div*/
  margin: 0 auto 8rem;
  padding: 9.375rem 0 9.4375rem 5rem;
  color: var(--white);
 


}
.folder_content{
  max-width: 572px;
}

.folder_title {
font-size: 4.25rem;
font-weight: 500;
margin-bottom: 28px;
line-height: 120%;
}

.folder_p {
  font-size: 1.375rem; /* el font-weight standar es 400 */
  margin-bottom: 2.5rem;
  line-height: 150%;

}
.button {
  font-family: Space-Grotesk;
  font-size: 1rem;
  line-height: 1.5rem;

  color: var(--white);
  background-color: var(--red);

  padding: 0.75rem 1.5rem;

  border: none;
  border-radius: 0.25rem;
  
}

h2{
  font-size: 3rem;
  font-weight: 500;
}

.section_header {
  max-width: 50rem;
  margin: 0 auto 4rem;
  display: flex;
  text-align: center;
  flex-direction: column;
}

.super_title {
  font-size: 0.875rem;
  font-weight: 500;
  letter-spacing: 0.08em;
  color:var(--burgundy);
  line-height: 1.225rem;

  margin-bottom: 1.5rem;
}

.section_title_one {
  font-weight: 500;
  line-height: 3.6rem;

  margin-bottom: 1.5rem;
}

.container_cards {
margin: 0 auto 8rem;
display: grid;
grid-template-columns: 1fr 1fr;
gap: 2rem;
max-width: 76rem;
color: var(--white);

}

h3 {
  font-size: 1.5rem;
  line-height: 2.1rem;
}
.card {
  background-color: #BD1C43;
  padding: 2.5rem;

}

.image_card {
  margin-bottom: 1.5rem;
}


/*Section about us*/

.section_about_us {
  margin: 0 3.75rem 8rem;
  padding: 5rem;

  background-color: var(--light_orange);

}